# Carpetas temporales y entorno virtual
__pycache__/
.ipynb_checkpoints/
venv/

# Pesos de modelos y datos
*.keras
*.pkl
*.zip

# Carpetas grandes locales (si decides no subirlas)
modelo_2_ensamble/
modelo_afinado_tuning/
